/*
	CSS Syntax
		selector{
			propertyA:  valueA;
			propertyB: 	valueB;
		}
*/
/*
	* - universal selector: it selects all elements in the webpage;
		font-family: "Courier New", monospace;
			it tells the browser to use Courier New as its main font for content. however, if the 
			browser is not able to display the font, it will search its fonts that belongs to the
			family of monospace.
		font-size - sets the size of the font of the element. pixels are not the sole measurement of font-size

*/


*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*
	html selector - selects all the elements inside the html tags
*/

html{
	background-color: skyblue;
	scroll-behavior: smooth;
}
/*
	body selector - selects the elements inside the body tag
*/


nav{
	background-color: white;
}
/*
	selector: hover - changes the style of the element once the mouse is hovered over it;
*/

a:hover{
	background-color: #b4d6de;
}


}

	/* 
		> - child selector; allows selection of the chid of the first selector/element
	 */

nav >  div {
	display: inline-block;
	float:  right;
}

body>section>form>label{
	color: red;

}

#top>div{
	dispaly:inline-block;
	float: right;
}

/*TAG SELECTORS*/
/*
	rem - root element measurement. html tag is the root element. dafault measurement for rem is 16px.
*/
h1{
	text-align: center;
	background-color: deepskyblue;
	color: red !important;
	/*2rem = 2*16px */
	font-size: 2rem;

}

section{
	height: 100vh;
	text-align: center;
	
}


h2{
	font-size: 1.5rem;
}

ol{
	list-style-type: none;
}
/*
	ID SELECTORS
	#idname{
	property: value;
	}
*/
#zuitt-motto{
	letter-spacing: 5px;
}
/*
	class selector - selects the elements with the same class name
		.className {
			property:  value;
		}
*/
.offered-items{
	text-transform: uppercase;
}

/*
	attribute selector - selects elements with the same attribute
	tag[attribute]{
	 property: value;
	}
*/

input[required]{
	/*
		border-width - changes the width of the element's border
		border-style - changes the style of the element's border
		border-color - changes the color of the element's border
	*/
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

/*
	adjacent sibling selector
*/

h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*
	descendant selectors
		firstselector descendant{
			property: value;
		}
*/
section li{
	color: #075966;
}

/*
	general sibling selector - selects the sibling element that comes after the first selector.
	firstSelector ~ secondSelector
*/

h2~a{
	/*
		text-decoration - changes the decoration of the text element. other examples are overline, underline, line-through
	*/
	text-decoration: none;
}

form{
	color: rgb(0, 0, 128);
	text-align: center;
	background-color: white;
	/*
		border - can be used to modify the border of the element
			border:  width style color;
	*/
	border: 2px solid black;
	/*
		*vw - the measurement of the screen width of the user device. its default display is always on the left
		side of the screen
	*/
	width:  25vw;
	position: relative;
	left: 37.25%;
}

button{
	color: white;
	background-color: #CF0053;
	border: 0px;
	border-radius: 15px;
}

#landing{
	
	text-align: center;
	background-color: steelblue;
	border: 2px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}