
/*external editting*/ /*4*/

/*6*/
 * {
 	font-family: 'calibri';
 	font-size: 12px;
 }
 /*5*/
.ex_p {
	color: green;
}
/*7*/
h1{
	font-size: 40px;
}
/*8*/
#h2 {
	text-transform: uppercase;
}
/*9*/
.langli{
	background-color: green;
}



/*10*/
.tools li { 
	border: 1px solid black;
}
/*11*/
.others li + li { 
	font-family: 'times';
}
/*12*/
ol + img {
	height: 30px;
	width: 30px;
	border-radius: 150px;
}
/*13*/
ol ~ p { 
	text-align: center;
}
/*14*/
.others li { 
	letter-spacing: 5px;
}

